/.vscode/
/localpsfcpp/*.so
/localpsfcpp.egg-info/
/notebook/.ipynb_checkpoints/
/notebook/jitfailure*/
/notebook/block_cluster_tree.eps
/notebook/cluster_tree.eps
/notebook/kernel_hmatrix.eps
/notebook/mesh.xml
/notebook/mesh_from_file.xml
