/.vscode/
/localpsfcpp/*.so
/localpsfcpp.egg-info/
/notebook/.ipynb_checkpoints/
/notebook/jitfailure*/
/figures/block_cluster_tree.eps
/figures/cluster_tree.eps
/figures/kernel_hmatrix.eps
/tmp/*
/figures/*
/tmp/!tmp.txt
/figures/!fig.txt
